extends base

block content
    .container.mt-5.text-center
        p.h1= heading
        p.h2= message
        iframe.mw-100(src="https://giphy.com/embed/Lopx9eUi34rbq" width="480" height="327" frameBorder="0" class="giphy-embed" allowFullScreen)