extends base

block content
    .home
        .position-relative.mb-4.home--cover
            img.img-fluid.home--cover-img(src="/img/site/cover.jpg")
            .conatiner.position-absolute.ms-2.home--cover-text
                p.h2 Social Media Manager
                p.fs-4 To grow Your audience beyond measure
        .text-center.fs-5 
            .container.mb-4
                p.text-center.mb-2 Get Started Now &rarr;
                a.btn.btn-light(href="/signup") Sign-up
            .container
                p.text-center.mb-2 Already Smart?
                a.btn.btn-light(href="/login") Login